<div class="form-entry">
  <div class="form-group">
    <div class="form-fields">
      <input type="text" name="languages[{{ index }}].lang" value="{{ language.lang }}" data-dtype="String" />
      <input type="text" name="languages[{{ index }}].name" value="{{ language.name }}" data-dtype="String" />
      <input type="text" name="languages[{{ index }}].path" value="{{ language.path }}" data-dtype="String" />
    </div>
  </div>
</div>
